@*@model IEnumerable<Negosud_MVC.Models.Item>*@
@model Negosud_MVC.ViewModel.ProductYearViewModel

@{
    ViewData["Title"] = "Negosud - Accueil";
}

<div>


    <h1 class="display-4">Liste des vins</h1>


    <form asp-controller="Items" asp-action="Index">
        <p>
            <input class="form-control w-50 float-left" type="text" name="searchString" placeholder="Chercher">
        </p>
        <p>
            <span>Affiner recherche : <br /></span>
            <select asp-for="ListYear" asp-items="Model.Years">
                <option value="">Années</option>
            </select>
        </p>
        <p>
            <select asp-for="ListProducer" asp-items="Model.Producers">
                <option value="">Producteurs</option>
            </select>
        </p>

        <p>
            <select asp-for="ListType" asp-items="Model.Types">
                <option value="">Type de vin</option>
            </select>
        </p>
        <input class="btn btn-secondary" type="submit" value="Chercher" />
    </form>

    @foreach (var i in Model.Items)
    {
        <div id="product-list" class="float-left">
            <div id="pl-img">
                <img src="@Html.DisplayFor(modelItem => i.ImgURL)" width="50" height="50" />
            </div>
            <div id="pl-details">
                <p id="product-name"> @Html.DisplayFor(modelItem => i.Name)</p>
                <p id="unit-price">P.U : @Html.DisplayFor(modelItem => i.UnitPrice)</p>
                <p id="quantity">Stock : @Html.DisplayFor(modelItem => i.Quantity)</p>
                <p><a asp-action="Details" asp-route-id="@i.Id">Details</a></p>
            </div>
        </div>
    }


        @*<table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.imgURL)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnitPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BoxPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Year)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Producer)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Supplier)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <img src="@Html.DisplayFor(modelItem => item.imgURL)" width="50" height="50" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BoxPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producer.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Supplier.BusinessName)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>*@

    </div>
